db-schema/espacemd-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--============================================================

	 FezMD: eSpace Metadata Extension Schema
		
	============================================================-->
	<xsd:element name="FezMD" type="FezMDType"/>
	<xsd:element name="xdis_id" />
	<xsd:complexType name="FezMDType">
		<xsd:sequence>
			<xsd:element ref="xdis_id" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

